<%= render partial: 'admins/shared/admin_style' %>

<div class="d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 80px);">
  <% if admin_user_signed_in? %>
    <h2>Hi, <%= current_admin_user.email %></h2>
  <% else %>
    <h3>Kindly Login</h3>
      <%= link_to 'Sign in', new_admin_user_session_path, class: "ms-2 btn btn-warning btn-lg"%>
  <% end %>
</div>