<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <% @banners.each do |banner| %>
      <div class="carousel-item active" data-bs-interval="5000">
        <%= image_tag banner.preview.url , class: "d-block", style: "width:100%;height:360px" if banner.preview.present? %>
      </div>
    <% end %>
  </div>
</div>

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" style="border-radius: 0; background-color: #f38a15; height: 50px; display: flex; align-items: center; text-align: center; margin-bottom: 5px;">
  <div class="carousel-inner">
    <% @newstickers.each_with_index do |newsticker, index| %>
      <div class="carousel-item <%= 'active' if index == 0 %>" data-bs-interval="3000">
        <h4><span style="font-weight: bold; margin-right: 10px; color: red; font-style: italic">ANNOUCEMENT: </span><span style="color: #1a1821; font-style: italic"><%= newsticker.content %></span></h4>
      </div>
    <% end %>
  </div>
</div>


<style>
    .carousel-inner {
        margin-top: 1px;
    }

    .carousel-item {
        opacity: 0;
        transform: translateY(50px);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }

    .carousel-item.active {
        opacity: 1;
        transform: translateY(0);
    }
</style>
