<nav class="navbar navbar-expand-lg bg-dark fixed-bottom" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="padding: 10px 20px;color: #ffc400">Share</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="padding: 10px 20px;color: #ffc400">Invite</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="padding: 10px 20px;color: #ffc400">Lottery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="padding: 10px 20px;color: #ffc400">Shop</a>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <a class="nav-link active" aria-disabled="true" style="padding: 10px 20px;">ME</a>
          </li>
        <% else %>

        <% end %>
      </ul>
    </div>
  </div>
</nav>

