<footer class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="padding: 10px 20px;color: #ffc400">Share</a>
        </li>
        <li class="nav-item">
          <%= link_to "Invite", users_invite_people_path, class: "nav-link active", style: "padding: 10px 20px;color: #ffc400" %>
        </li>
        <li class="nav-item">
          <%= link_to "Lottery", lottery_index_path, class: "nav-link active", style: "padding: 10px 20px;color: #ffc400"%>
        </li>
        <li class="nav-item">
          <%= link_to "Shop", shop_index_path, class: "nav-link active", style: "padding: 10px 20px;color: #ffc400"%>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <a class="nav-link active" aria-disabled="true" style="padding: 10px 20px;">ME</a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</footer>

