<div class="d-flex justify-content-center align-items-center" style="background-color: #000000; margin-top: 100px;">
  <div class="text-center">
    <h1 style="color: darkorange">Invite People</h1>
    <p class="text-white">Scan the QR Code or use the invite URL:</p>
    <div class="bg-white d-flex justify-content-center align-items-center rounded-circle ms-auto me-auto" style="width: 200px; height: 200px;">
      <%= raw @qrcode_svg %>
    </div>
    <p class="text-white" style="margin-right: 10px; margin-top: 10px;"><span style="color: darkorange">Invite URL: </span><%= new_user_registration_path(promoter: @promoter_email) %></p>
  </div>
</div>
